 #profile {
     height: 150px;
     width: 150px;
     background-image: url(./03.jpg);
     background-size: cover;
     border-radius: 50%;
     float: right;
     margin-right: 50px;
     margin-top: 30px;
 }
 
 #block1,
 #block2 {
     width: 700px;
     position: absolute;
     background-color: #fffdfda8;
     box-shadow: 0px 0px 5px 6px #fffdfda8;
     left: 25%;
 }
 
 #block1 {
     top: 70px;
     bottom: 70px;
     height: 80px;
 }
 
 #block2 {
     top: 170px;
     margin-bottom: 60px;
 }
 
 p {
     margin-left: 30px;
     margin-right: 30%;
     margin-bottom: 0;
 }
 
 html {
     background-image: url("./04.jpg");
 }
 
 ul {
     list-style: square;
     margin-left: 30px;
 }